@import "./navbar";
@import "./header";
@import "./fonts";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  position: relative;
  background-color: rgb(104, 116, 90);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

//UTILTY CLASSES
.section {
  padding: 40px 30px;
  width: 100%;
  position: relative;
}

.max-w-container {
  max-width: 1800px;
  margin: 0 auto;
}
.chapter span {
  opacity: 0.4;
}
