html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
  width: 100vw;
  height: 100vh;
  font-size: 15vw;
  display: flex;
  justify-content: center;
  place-items: center;
  &:nth-child(1) {
    background-color: aquamarine;
  }
  &:nth-child(2) {
    background-color: bisque;
  }
  &:nth-child(3) {
    background-color: black;
  }
  &:nth-child(4) {
    background-color: blue;
  }
}
